dissertation.aux
dissertation.bbl
dissertation.blg
dissertation.lof
dissertation.log
dissertation.out
dissertation.pdf
dissertation.run.xml
dissertation.synctex.gz
dissertation.toc
dissertation-blx.bib
dissertation.synctex(busy)
.DS_Store
